div.row {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 200%
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
